body {
    padding: 1vw;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1eeee;
}

*::selection {
    background: rgb(118, 18, 206, .7);
    color: white;
}

header {
    height: 12vh;
}

.logo {
    width: 5vw;
}

.quadros {
    display: flex;
    flex-direction: row;
}

.image {
    float: right;
}

.image .img1 {
    background-color: #f1eeee;
    border: 0;
    width: 25vw;
    height: 520px;

}

.image .img2 {
    background-color: #f1eeee;
    border: 0;
    width: 22vw;
    height: 400px;
}

.simule {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50vw;
}

.simule p {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

#form {
    width: 45vw;
    background: white;
    border-radius: 10px;
    padding: 1vw;
}

#form .titulo {
    text-align: center;
}

.gif {
    border: none;
    width: 80px;
    margin-bottom: 1vw;
    text-align: center;
    margin-left: 47%;
}

a {
    padding: 0.5vw !important;
    font-size: 15px !important;
}

.btn {
    margin-top: 1vw;
    border-color: white;
}

.btn1 {
    text-decoration: none;
}

.btn1:hover {
    text-decoration: none;
}

.btn2 {
    float: right;
    background: none !important;
    border: none !important;
}

.btn2 a {
    text-decoration: none;
}

@media (max-width: 960px) and (min-width: 200px) {
    .image {
        display: none;
    }

    #form {
        width: 90vw;
    }

    .simule p {
        display: none;
    }

    .logo {
        width: 10vw;
    }
}