body {
    padding: 1vw;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1eeee;
}

*::selection {
    background: rgb(118, 18, 206, .7);
    color: white;
}

header {
    height: 12vh;
}

.logo {
    width: 5vw;
}

.quadros {
    display: flex;
    flex-direction: row;
}

.image {
    float: right;
}

.image .img1 {
    background-color: #f1eeee;
    border: 0;
    width: 25vw;
    height: 520px;

}

.image .img2 {
    background-color: #f1eeee;
    border: 0;
    width: 22vw;
    height: 400px;
}

.simule {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50vw;
}

.simule p {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

#form {
    width: 45vw;
    background: white;
    border-radius: 10px;
    padding: 1vw;
}

#form .titulo {
    text-align: center;
}

.gif {
    border: none;
    width: 80px;
    margin-bottom: 1vw;
    text-align: center;
    margin-left: 45%;
}

a {
    padding: 0.5vw !important;
    font-size: 15px !important;
}

.rangeslider {
    position: absolute;
    width: 45vw;
    float: left;
}

.myslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    outline: none;
    border-radius: 50px;
}

.myslider:hover {
    opacity: 1;
}

.range{
    padding: 0.5vw 0 1vw 0;
}

.cartoes {
    margin-top: 2vw;
}

.cartoes .row>p {
    font-size: 20px;
    text-align: center;
    margin-top: -1vw;
}

.card {
    background: none;
    border: 1px solid rgb(132, 50, 195, .5);
    margin-bottom: 1vw;
    height: min-content;
    margin-top: 1vw;
}

.card-body {
    padding: 0;
}

.credito {
    font-size: 18px;
    width: max-content;
    padding: 10px;
    word-break: break-all;
}

h3 {
    text-align: center;
}

.botoes {
    display: flex;
    margin-top: 1vw;

}

.botoes button {
    width: 24.5vw;
}

.botoes .btn1 {
    margin-right: 1vw;
    background: none;
    color: black;
}

.botoes .btn2 {
    background-color: #7712d0;
    border-color: #7712d0;
}

.result {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    margin-left: 45%;
    border: 1px solid rgb(119, 18, 208, .5);
    border-radius: 20px;
}

.result::before {
    content: "R$ ";
}

.card-text {
    background: transparent;
    border: none;
}

strong {
    font-weight: 600;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #7712d0;
    cursor: pointer;
}

.myslider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: #d10672;
    border-radius: 5px;
}


@media (max-width:600px) and (min-width:320px) {
    .row {
        margin-top: 20vw;
    }
}

@media (max-width: 960px) and (min-width: 200px) {
    .simule {
        display: none;
    }

    form {
        width: 95vw !important;
    }

    .botoes button {
        width: 50vw;
    }

    .logo {
        width: 10vw;
    }
}